<a href="https://colab.research.google.com/github/ashi31/explore_ml_python/blob/master/loops_func_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##WhileLoop

while test_expression:
        
        Body of while

In [0]:
numbers = [1, 2, 3, 4, 5]

#iterating over the list
index = 0
while index < len(numbers):
    print(str(index) + " : " + str(numbers[index]))
    index += 1
    
else:
    print("no item left in the list")

##For Loop
for element in sequence :

    Body of for

In [0]:
lst = [10, 20, 30, 40, 50]

product = 1
#iterating over the list
for ele in lst:
    product *= ele

print("Product is: {}".format(product))

In [0]:
#print range of 5
for i in range(5):
    print(i)

In [0]:
#print range of numbers from 1 to 20 with step size of 2
for i in range(0, 20, 5):
    print(i)

##break and continue

In [0]:
#break
numbers = [1, 2, 3, 4, 5]
for num in numbers:          #iterating over list
    if num == 3:
        break
    print(num)
else:
    print("in the else-block")
print("Outside of for loop")

In [0]:
#continue
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num == 3:
        continue
    print(num)
else:
    print("else-block")

In [0]:
# Filing a dictionary
d1 = {}
while 1:
    key   = input("Enter a key: ")
    value = input("Enter a value: ")
    d1[key] = value;
    if input("exit? ") == "yes": break;
print (d1)

###QUESTION: Python Program to display all prime numbers within an interval

##Functions

In [0]:
# Simple function
# Function definition
def a_func():
    print ("A Message from the other world!")

# Function Call
a_func()

In [0]:
# Passing arguments to functions
def add_two(num):
    print (int(num)+2)

add_two (3)
add_two ("45") # This will work as we are casting the passed parameter to Integer before adding

In [0]:
# Keyword Arguments
# Pass the argumnets as key:value pairs, so even if unordered it won't produce unexpected results
def coding_in(name, language):
    print (str(name) + " is coding in " + str(language))
    
coding_in("Jennifer", "Python")
# If you change the order, results are unexpected
coding_in("Python", "Jennifer")


coding_in(name="Jennifer", language="Python")
# If you change the order, results are same
coding_in(language="Python", name="Jennifer")

In [0]:
#default parameters

# def coding_in(name, language1="Python", language2):
def coding_in(name, language2, language1="Python"):
    print (str(name) + " is coding in " + str(language1) + " and " + str(language2))

coding_in("Jennifer", "Python", "R")
coding_in("Jennifer", "R")

In [0]:
# return
def pow_4(num):
    return num**4

v1 = pow_4(34) # v1 now stores 34^4
v2 = pow_4(23) # v2 now stores 23^4

print ("34^4 = " + str(v1))
print ("23^4 = " + str(v2))

In [0]:
# Preventing a function from modifying a list
def make_language_list(language_list, new_language):
    language_list.append(new_language)
    
lang_list = ["Python", "R"]
print (lang_list)

make_language_list(lang_list[:], "Julia")
print (lang_list)

In [0]:
# Passing Arbitrary number of arguments with a normal argument
# Note: The parameter that accepts arbitrary number of arguments needs to be placed at last
def knows_languages(name, *languages):
    print (str(name) +  " knows: " + str(languages))
    
knows_languages("Jennifer", "Python")
knows_languages("Jennifer", "Python", "R", "Julia", "Ruby")

In [0]:
# Using Arbitrary Keyword Argument
# Note: '**' tells Python to create a dictionary of the extra arguments passed after the first required positional argument
def make_a_coder(name, **details):
    coder = {}
    coder["name"] = name;
    for key, value in details.items():
        coder[key] = value
    return coder

print (make_a_coder("Jennifer", location="California", age="21", language=("Python", "R")))

# We can do this since we are using keyword arguments
print (make_a_coder(location="California", age="21", language=("Python", "R"), name="Jennifer"))

## lambda map filter

In [0]:
def pow_4(num):
    return num**4

v1 = pow_4(34) # v1 now stores 34^4
v2 = pow_4(23) # v2 now stores 23^4

print ("34^4 = " + str(v1))
print ("23^4 = " + str(v2))

In [0]:
lambda num : num**4

In [0]:
seq = [1,2,3,4,5]

list(map(pow_4, seq))

In [0]:
seq = [1,2,3,4,5]

list(map(lambda num:num**4, seq))

In [0]:
seq = [1,2,3,4,5]

list(filter(lambda num: num%2==0, seq))

###QUESTION: from a given string find the number of words containing the word starting with t or b
s = "Three adorable little puppies are running after an old, chewed-up tennis ball bouncing down the hall"

hint: use split()

['three', 'tennis', 'ball', 'bouncing', 'the']